html {
	scroll-behavior: smooth;
}

body {
	background-color: #F2F2F2;
	font-family: 'Montserrat';
}


.container {
	width: 85%;
	margin: 0 auto;
}

.cabecalhoPrincipal {
    background-color: #2B2B28;
	padding: 20px 0;
}

.logo-flor {
	width: 50px;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin: 10px 0 10px 0;
	color: #f2f2f2;
	text-decoration: none;	
	display: block;
	border-radius: 6px;
	border: 2px solid #f2f2f2;
	transition: color 0.3s ease;
}

.cabecalhoPrincipal-nav-link:hover {
	color: #009fe3;
	border-radius: 5px;
	border: 2px solid #009fe3;
}

.conteudoPrincipal {
	margin-top: 20px;
}

/*Voltar ao Topo*/

.btnTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	font-size: 24px;
	color: #f2f2f2;
	background-color: #2B2B28;
	border: 2px solid #009fe3;
	border-radius: 10px;
	display: none;
	transition: color 1s ease;
}

.btnTop:hover {
	color: #2B2B28;
	background-color: #f2f2f2;
	border-radius: 10px;
    border: 2px solid #009fe3;
}

/*Redes Sociais*/

.redesSociais-linkedin {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	content: url(../img/contactos/linkedin-escuro.png);
	transition: color 1s ease;
}

.redesSociais-linkedin:hover {
	content: url(../img/contactos/linkedin-claro.png);
}

.redesSociais-behance {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	content: url(../img/contactos/behance-escuro.png);
	transition: color 1s ease;
}

.redesSociais-behance:hover {
	content: url(../img/contactos/behance-claro.png);
}

.redesSociais-github {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	content: url(../img/contactos/github-escuro.png);
	transition: color 1s ease;
}

.redesSociais-github:hover {
	content: url(../img/contactos/github-claro.png);
}

.redesSociais-email {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	content: url(../img/contactos/email-escuro.png);
	transition: color 1s ease;
}

.redesSociais-email:hover {
	content: url(../img/contactos/email-claro.png);
}

.redesSociais-instagram {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	content: url(../img/contactos/instagram-escuro.png);
	transition: color 1s ease;
}

.redesSociais-instagram:hover {
	content: url(../img/contactos/instagram-claro.png);
}

/*Experiência Profissional*/

.xpProfissional {
	display: flex;
	justify-content: space-between;
	color: #F2F5F7;
	padding: 5px 0 5px 0;
	background-color: #2B2B28;
}

.subtitulo {
	display: block;
	font-weight: bold;
	font-size: 32px;
	margin: 0 0 10px 0;
	text-align: left;
}

.minhasConquistas .container .subtitulo {
	margin: 0 0 20px 0;
}

.emprego1, .emprego2 {
	display: flex;
	margin-top: 30px;
}

#empregoSabores, #empregoRolo {
	border: 2px solid #009fe3;
}
 
#empregoSabores:hover {
	border: 2px solid #009fe3;
	box-shadow: 2px 2px 2px #007eb4;
}

#empregoRolo:hover {
	border: 2px solid #009fe3;
	box-shadow: 2px 2px 2px #007eb4;
}

.direito-autoral {
	display: inline-block;
	color: #009fe3;
	font-size: 12px;
	margin-top: 15px;
}

.emprego1-detalhes, .emprego2-detalhes {
	flex-direction: column;
	padding-left: 30px;
}

/*Rodapé*/

.rodapePrincipal {
	background-color: #324C64;
	padding-top: 20px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.copyright {
    color: #f2f2f2;
	font-size: 20px;
    padding: 10px 0 10px 0;
}

/*mobile*/
@media(max-width: 375px) {
	.btnTop {
		right: -9999px;
	}
}

/*tablet*/
@media(max-width: 768px) {
	.btnTop {
		right: -9999px;
	}
}

*/
	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}


